
.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }
.button{
  background-color: rgb(5, 227, 247);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover{
  transition: 0.5s;
  background-color: black;
  color: rgb(5, 227, 247);
  transform: scaleY(1.5);
  cursor: pointer;
}
  

  .menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 1.4s;
    background-color: rgb(5, 227, 247);
  }
  
  .menu-items {
    list-style: none;
    padding: 5px;
    margin: 5px;
    display: none;
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 10px;
  }
  
  .menu-items.open {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }
  
  .menu-items li {
    margin: 10px 0;
  }
  
  .menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  