
.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 999;
    
  }
.button{
  background-color: rgb(5, 227, 247);
  border-radius: 8px;
  width: 90%;
  height: 30px;
  cursor: pointer;
  padding-bottom: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.button:hover{
  transition: 0.5s;
  background-color: black;
  color: rgb(5, 227, 247);
  transform: scaleY(1.5);
  cursor: pointer;
}
  

  .menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 1.4s;
    background-color: rgb(5, 227, 247);
  }
  
  .menu-items {
    /* transform-style: preserve-3d;
    transition: cubic-bezier(0.23, 1, 0.320, 1); */
    top: 40px;
    left: 0;
    position: absolute;
    list-style: none;
    padding: 5px;
    margin: 5px;
    display: none;
    background-color: rgba(0, 0, 0, 0.679);
    border-radius: 10px;
    width: 250px;
    height: 410px;
  }
  
  .menu-items.open {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }
  
  .menu-items li {
    margin: 10px 0;
  }
  
  .menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

@media screen and (max-width: 768px) {
  .burger-menu {
    position: relative; 
    z-index: 999; 
  }

  .menu-toggle {
    margin: 10px;
  }

  .menu-items {
    position: absolute;
    top: 40px; 
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    width: 150px; 
    padding-top: 10px; 
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-items.open {
    display: block;
  }

  .menu-items li {
    margin: 10px 0;
  }
  .button{
    height: 40px;
  }
}
