.menu{
    display: flex;
    justify-content: left;
    background-image: url("../../../programming.jpg");
    padding-top: 5px;
}
.buttonCopy{
  background-color: rgb(5, 227, 247);
  border-radius: 8px;
  cursor: pointer;
  width: 40%;
  height: 30px;
}
.buttonCopy:hover{
  transition: 0.5s;
  background-color: black;
  color: rgb(5, 227, 247);
  transform: scaleY(1.5);
  cursor: pointer;
}
.contenedor{
    background-image: url("../../../programming.jpg");
    width: auto;
    height: 92vh;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.card{
    background-color: rgba(10, 158, 163, 0.368);
    border-radius: 10%;
    color: white;
    width: 50%;
    height: 70%;
    margin-top: 90px;
}
.img{
    border-radius: 10%;
    width: 35%;
    height: 55%;
}

@media screen and (max-width: 768px) {
    .contenedor {
      background-image: url("../../../programming.jpg");
      padding: 20px; 
      height: 85vh;
    }
  
    .card {
      background-color: rgba(10, 158, 163, 0.368);
      border-radius: 10px; 
      color: white;
      width: 100%; 
      height: 70%; 
      margin: 20px 10px;
      margin-bottom: 20px;
      padding: 5px;
    }
  
    .img {
      border-radius: 10px; 
      width: 60%; 
      height: auto;
    }
    .buttonCopy {
      width: 96%;
      height: 30px;
      margin: 5px;
  }
  }
  
