.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0.679);
    box-shadow: 0 0 10px rgb(5, 227, 247);
    padding: 20px 0px;
    height: 52px;
}
.buttonCopy{
  background-color: rgb(5, 227, 247);
  box-shadow: 0 0 10px rgb(5, 227, 247);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 40%;
  height: 30px;
  font-weight: bold;
}
.buttonCopy:hover{
  transition: 0.5s;
  background-color: black;
  color: rgb(5, 227, 247);
  transform: scaleY(1.5);
  cursor: pointer;
}
.contenedor{
    width: auto;
    height: 150vh;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.card{
    background-color: rgba(10, 158, 163, 0.368);
    box-shadow: 0 0 10px rgb(5, 227, 247);
    border-radius: 10%;
    color: rgb(5, 227, 247);
    text-shadow: 0 0 30px black;
    width: 45%;
    height: auto;
    margin-top: 120px;
    margin-bottom: 250px;
}
.img{
    box-shadow: 0 0 50px rgb(5, 227, 247);
    border-radius: 10%;
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .contenedor {
      padding: 20px; 
      height: 110vh;
    }
  
    .card {
      background-color: rgba(10, 158, 163, 0.368);
      border-radius: 10px; 
      color: white;
      width: 100%; 
      height: auto;
      margin-bottom: 20px;
      padding: 5px;
    }
  
    .img {
      border-radius: 10px; 
      width: 60%; 
      height: auto;
    }
    .buttonCopy {
      width: 96%;
      height: 30px;
      margin: 5px;
  }
  }
  
