.back{
    background-image: url("../../../programming.jpeg");
    padding-top: 5px;
}
.contenedor{
    background-image: url("../../../programming.jpeg");
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.card{
    background-color: rgba(0, 0, 0, 0.771);
    border-radius: 10%;
    color: white;
    font-size: 15px;
    width: 55%;
    height: 90%;
    margin-top: 20px;
    padding: 10px;
}
.button{
  background-color: rgb(5, 227, 247);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover{
  transition: 0.5s;
  background-color: black;
  color: rgb(5, 227, 247);
  transform: scaleY(1.5);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .contenedor {
      flex-direction: column;
      align-items: center;
      height: 83.5vh;
  }

  .card {
      width: 90%;
      height: auto;
  }

  .button {
      width: 96%;
      height: 30px;
      margin: 5px;
  }
}