.nav {
    background-color: rgba(0, 0, 0, 0.679);
    box-shadow: 0 0 10px rgb(5, 227, 247);
    padding-top: 30px;
    height: 62px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.contenedor {
    width: auto;
    height: 125vh;
    display: flex;
    justify-content: center;
    justify-items: center;

}

.card{
    background-color: rgba(0, 0, 0, 0.771);
    box-shadow: 0 0 10px rgb(5, 227, 247);
    /* text-shadow: 0 0 10px rgb(5, 227, 247); */
    border-radius: 10%;
    color: rgb(5, 227, 247);
    font-size: 15px;
    width: 55%;
    height: auto;
    margin-top: 110px;
    margin-bottom: 150px;
    padding: 10px;
}

.button {
    background-color: rgb(5, 227, 247);
    box-shadow: 0 0 10px rgb(5, 227, 247);
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 5px;
}

.button:hover {
    transition: 0.5s;
    background-color: black;
    color: rgb(5, 227, 247);
    transform: scaleY(1.5);
    cursor: pointer;
}

.img {
    box-shadow: 0 0 10px rgb(5, 227, 247);
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 83.5vh;
    }

    .back {
        background-color: transparent;
        padding: 5px 0px;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .button {
        width: 96%;
        height: 30px;
        margin: 5px;
    }
}