.back{
    background-image: url("../../../programming.jpg");
    padding-top: 5px;
}
.button{
    background-color: rgb(5, 227, 247);
    border-radius: 8px;
    cursor: pointer;
  }
.button:hover{
    transition: 0.5s;
    background-color: black;
    color: rgb(5, 227, 247);
    transform: scaleY(1.5);
}   
.contenedor {
    background-image: url("../../../programming.jpg");
    width: auto;
    height: 95.2vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: rgb(94, 252, 194);
    text-align: center;
}
  
.card {
    padding: 10px;
    background-color: rgba(7, 7, 7, 0.634);
    border: 1px solid #ccc;
    border-radius: 10%;
    transition: transform 0.3s;
    overflow: hidden;
}
  
.card:hover {
    transform: scale(1.1);
    background-color: rgba(10, 158, 163, 0.368);
}
  
.img {
    border-radius: 10%;
}
.backButton {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    height: 5px
  }
.text{
    color: white
  }  

  @media screen and (max-width: 768px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 89.5vh;
    }

    .card {
        width: 90%;
    }

    .button {
        width: 96%;
        height: 30px;
        margin: 5px;
    }
    .img {
        border-radius: 10%;
        width: 50px;
        height: 50px;
    }
}