.footer{
    background-image: url("../../../programming.jpeg");
    color: rgb(5, 227, 247);
    width: auto;
    height: 97px;
}
.blackback{
    background-color: rgba(0, 0, 0, 0.679);
    width: auto;
    height: 77px;
    padding-top: 20px;
}